/* Header */
.header {
  position: relative;
  height: 0;
  > .grid {
    z-index: 20;
    position: relative;
    box-shadow: 0 7px 10px rgb(0 0 0 / 4%);
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1;
  padding: 16px 32px;
  height: 64px;

  &__logo {
    a {
      img {
        margin-left: -2px;
        padding-bottom: 2px;
        height: 28px;
        transition: $transition-smooth;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__links {
    display: inline-flex;
    margin-left: 56px;
    .navbar__link {
      @extend %navbar__link;
      &:first-child {
        margin-left: 0;
      }
      svg {
        margin-left: 8px;
        width: 16px;
      }
    }
    @include bp(mamababy) {
      display: none;
    }
  }

  &__login {
    display: inline-flex;
    margin-left: auto;
    &-signin {
      @extend %navbar__link;
    }
    &-free {
      @include button(1rem 2.4rem, 1.6rem, 2.4rem);
      margin-left: 24px;
    }
    @include bp(mamababy) {
      display: none;
    }
  }

  &__ham {
    @include ham(navbar__ham-icon);
  }
}

/* Header Product List */
.product-tray {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 80px;
  background-color: white;
  color: rgba(68, 68, 72, 1);
  box-shadow: 2px 36px 89px rgba(8, 33, 96, 0.3);
  display: none;

  &.open {
    display: block;
    animation: slowShow 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .grid {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 32px;
    .row {
      margin: 0;
      .col {
        padding: 0;
      }
    }
  }

  .product-item {
    @include product-item(product-item);
  }
}

/* Header Product List for Mobile*/
.nav-mobile {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  flex-direction: column;
  overflow-y: auto;

  width: 100%;
  height: 100vh;
  padding: 112px 32px 16px 32px;

  background-color: white;
  color: rgba(68, 68, 72, 1);

  &.open {
    display: flex;
    animation: slowShowFromRight 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    .nav-mobile-top__link {
      @include text($color-text, 600, 24px, 32px);
      margin-top: 32px;
    }
  }
  &-bottom {
    display: flex;
    padding: 16px 0;
    &__start {
      @include button(10px 24px, 16px, 24px);
    }
    &__login {
      @include button(10px 24px, 16px, 24px);
      margin-left: 24px;
      background-color: white;
      border-color: rgba(99, 100, 103);
      color: $color-text;
    }
  }
}

.nav-mobile__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include text($color-text, 600, 24px, 32px);
  svg {
    transition: $transition-smooth;
    width: 24px;
    transform: rotate(90deg);
  }
  &.open {
    svg {
      transform: rotate(0);
    }
  }
}

.nav-mobile__product-tray {
  margin-top: 32px;
  &.close {
    display: none;
  }
  .container {
  }
}

.product-item-mb {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
  border-top: 2px solid rgba(225, 226, 230, 0.5);

  &:first-child {
    padding: 0 0 32px 0;
    border: none;
  }

  &__img {
    margin-right: 12px;
    width: 112px;
    height: 112px;
    svg {
      max-width: unset;
      width: unset;
      height: unset;
    }
  }

  .product-item-mb__content {
    margin-left: 32px;
    .product-item-mb__title {
      @include text($color-text, 700, 20px, 28px);
    }

    .product-item-mb__desc {
      margin-top: 8px;
    }
  }
}

/* Banner */
.banner {
  position: relative;
}

.banner__hidden {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &-top {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @include bp(mamababy) {
    display: none;
  }
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 256px 0 224px 0;
  gap: 48px;
  //Left Content
  .banner__container {
    max-width: 48.125%;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
      @include text($color-text, 900, 48px, 48px);
      margin-top: 8px;
    }
    p {
      @include text($color-text-secondary, 500, 20px, 28px);
      margin-top: 16px;
    }
    div {
      margin-top: 32px;
      a {
        @include button(1.6rem 3.6rem, 2rem, 2.8rem);
      }
    }
  }

  // Right Content
  .banner__img {
    max-width: 48.125%;
    flex: 1;
    padding: 0 32px;
  }

  .position {
    position: relative;
    margin: 0 20px;
    .banner__img-feed {
      width: 512px;
      height: 320px;
      img {
        width: unset;
        filter: drop-shadow(-7px 7px 12px rgba(97, 97, 97, 0.1));
      }
    }

    .banner__img-noti {
      position: absolute;
      top: -32px;
      right: -16px;
      &-bottom {
        margin-top: -16px;
      }
    }
  }
}

/* Trusted */
.trusted {
  padding: 48px 0;
  background-color: rgb(245, 246, 250);
  &__title {
    text-align: center;
  }
  &__content {
    padding: 0 32px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 16px;
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 -8px;
      .trusted__content-col {
        padding: 8px;
      }
      @include trusted-item(1, 169px, 29px);
      @include trusted-item(3, 227px, 44px);
      @include trusted-item(4, 160px, 26px);
      @include trusted-item(5, 175px, 39px);
    }
  }
}
