@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors */
$color-primary: rgb(59, 11, 217);
$color-primary-light: rgb(81, 23, 226);
$color-text: rgb(34, 35, 38);
$color-text-secondary: rgb(68, 68, 72);

/* Font Styles */
$font-primary: 'Inter', sans-serif;

/* box-shadow */
$box-shadow-btn: 0 7px 10px rgba(0, 0, 0, 0.04);

/* Animation */
$transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
